[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_align_multiple_declaration = true

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_align_multiline_expression_braces = true

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_keep_blank_lines_in_declarations = 1

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_int_align_enum_initializers = true

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_int_align_bitfield_sizes = true

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_int_align_comments = true

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_space_before_ptr_in_data_member = false

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_space_after_ptr_in_data_member = true

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_space_before_ptr_in_data_members = true

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_space_before_ptr_in_method = false

[*.{h,hpp,c,cc,cpp,cxx}]
resharper_cpp_space_after_ptr_in_method = true
# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = silent